name: build

on:
  push:
    branches: [ version_4, version_4.3, main ]
  pull_request:
    branches: [ version_4, version_4.3, main ]

jobs:

  static-lib-clang:

    runs-on: ubuntu-latest
    
    steps:

    - name: install clang
      run: sudo apt install clang

    - uses: actions/checkout@v2
    
    - name: message.
      run: echo no builds yet for clang

    - name: build and compile the static library.
      run: make -f static CC=clang++

    - name: run the tests for the static library.
      run: make -f static static_test CC=clang++

    - name: clean test executables
      run: make clean

    - name: install the static library.
      run: sudo make -f static install CC=clang++

    - name: compile the static sample program for the library.
      run: clang++ ubint_build.cpp -o ubint_build.out -lapa -fsanitize=address

    - name: run the sample program for the library.
      run: ./ubint_build.out

    - name: uninstall the static library.
      run: sudo make -f static uninstall

    - name: cleanup
      run: make -f static cleanup

  static-lib-gcc:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: message.
      run: echo no builds yet for gcc
    
    - name: build and compile the static library.
      run: make -f static

    - name: run the tests for the static library.
      run: make -f static static_test

    - name: clean test executables
      run: make clean

    - name: install the static library.
      run: sudo make -f static install

    - name: compile the static sample program for the library.
      run: g++ ubint_build.cpp -o ubint_build.out -lapa -fsanitize=address

    - name: run the sample program for the library.
      run: ./ubint_build.out

    - name: uninstall the static library.
      run: sudo make -f static uninstall

    - name: cleanup
      run: make -f static cleanup